.nav-text {
    color: white;
    font-size: 18px;
    margin: 0;
}

.back {
    margin-right: auto;
    padding-left: 1rem;
}

.skip {
    margin-right: 1rem;
}
.next {
    margin-right: 1rem;
}

#nav-item {
    display: flex;
    align-items: center;
}
.nav-img {
    margin: 0.2rem;
}

