#options {
    margin-top: 2rem;
}
.update-option-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.update-option-text {
    margin-left: 1rem;
}
.update-select {
    display: flex;
    align-items: center;
}